# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [18]:
my_int=23

print(my_int)

print(type(my_iny))

my_int + 5

23

NameError: name 'my_iny' is not defined

##### Assinging float

In [4]:
my_float=3.14

print(my_float)

3.14

#### Performing Calculations on ints and floats

##### Addition

In [6]:
10+10

my_int + my_float

26.14

##### Subtraction

In [8]:
my_int-3

20

##### Multiplication

In [9]:
my_float*2

6.28

##### Division

In [11]:
10 / 2
int(10/2)

5

##### Floor Division

In [12]:
10//2

11/2

5.5

##### Modulo

In [15]:
11 % 2
10%2

19%5

4

##### Exponential

In [17]:
10 ** 2

10**3

1000

### String Input-Output

##### String Assignment

In [20]:
a_string = "hello world"
print(type(a_string))

<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [23]:
print(a_string,end =' at end of string')
print("typicall on a new line\n")

hello world at end of stringtypicall on a new line

##### String Concatenation

In [27]:
a_string + " padawns" 
new_string = 'pawndawns'

##### Type Conversion

In [32]:
type(str(my_int))
type(my_int)
my_int = str(my_int)
my_int

'23'

##### input()

In [34]:
user_name = input("what is your name?: ")

what is your name?: nene

##### format()

In [40]:
"user name is {} and age is {}" .format(user_name, 32)

age=33

f'user name is {user_name} and age is {age}

SyntaxError: unterminated string literal (detected at line 5) (1172783059.py, line 5)

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [45]:
color = input ("what is the color of your car?: ")
year = input ("what is the year of your car?:")
make = input ("what is the make of your car?:")
model = input ("what is the model of your car?:")
results = f"your car is a (color) (year) (make) (model)."

what is the color of your car?: pink
what is the year of your car?:2024
what is the make of your car?:mercendes
what is the model of your car?:benz

### If Statements

In [48]:
#if <boolean expression>
#    <action to run if boolean true>

if True :
    ('print true')
    print("2nd action")

    if False:
        print('false')
        
        
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)
if 10< 11:
    print("10<11")
    print ("10<=10")

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

2nd action
10<11
10<=10

##### 'is' keyword

##### 'in' keyword

##### 'not in' keyword'

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [54]:
input = ("Pawndawns:")
if "p" in input
print("true")

SyntaxError: expected ':' (3711423344.py, line 2)

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [ ]:
school = 'coding temple'

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

##### Break Statement

In [ ]:
# will break out of current loop

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Double For Loops

### While Loops

##### Looping 'While True'

##### While & For Loops Used Together

### Built-In Functions

##### range()

##### len()

##### help()

##### isinstance()

##### abs()

### Try and Except

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [19]:
for x in range(1, 1001):
    cube = x ** 3
    print(f"Current x: {x}, Corresponding Cube: {cube}")
    if cube > 1000:
        print(f"Breaking loop because Cube ({cube}) exceeds 1000")
        break

Current x: 1, Corresponding Cube: 1
Current x: 2, Corresponding Cube: 8
Current x: 3, Corresponding Cube: 27
Current x: 4, Corresponding Cube: 64
Current x: 5, Corresponding Cube: 125
Current x: 6, Corresponding Cube: 216
Current x: 7, Corresponding Cube: 343
Current x: 8, Corresponding Cube: 512
Current x: 9, Corresponding Cube: 729
Current x: 10, Corresponding Cube: 1000
Current x: 11, Corresponding Cube: 1331
Breaking loop because Cube (1331) exceeds 1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [26]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Get the first prime numbers up to 100
first_primes = [num for num in range(2, 101) if is_prime(num)]

print("First prime numbers up to 100:", first_primes)

First prime numbers up to 100: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [29]:
age = int(input("Enter your age: "))

if age < 18:
    print("You are a minor.")
elif 18 <= age <= 65:
    print("You are an adult.")
else:
    print("You are a senior.")

Enter your age: 91
You are a senior.

In [30]:
5

5

In [31]:
age = 17